@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #171717;
  --background: #f5f5f5;
}

html,
body {
  max-width: 100vw;
  min-height: 100vh;
}

body {
  color: var(--foreground);
  background: var(--background);
}
